<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <% include ../../partials/navbar %>
    <h1><%= title %></h1>
    <p>Create a new run</p>
    <form action="/runs" method="post">
      Time: <input type="text" name="time"></input><br><br>
      Distance: <input type="text" name="distance"></input><br><br>
      Difficulty: <input type="text" name="difficulty"></input><br><br>
      Image URL: <input type="text" name="image"></input><br><br>
      <input type="submit"></input>
    </form>
  </body>
</html>
